{% extends "generic/object_edit.html" %}
{% load form_helpers %}
{% load helpers %}


{% block content-wrapper %}

  <div class="tab-content">
    <div class="tab-pane show active" id="edit-form" role="tabpanel" aria-labelledby="object-list-tab">
      <form action="" method="post" enctype="multipart/form-data" class="form-object-edit">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        {% block form %}
          {% if form.Meta.fieldsets %}

            {# Render grouped fields according to Form #}
            {% for group, fields in form.Meta.fieldsets %}
              <div class="field-group my-4">
                <div class="row mb-2">
                  <h5 class="offset-sm-3">{{ group }}</h5>
                </div>
                {% for name in fields %}
                    {% render_field form|getfield:name %}
                {% endfor %}
              </div>
              {% if not forloop.last %}
                <hr />
              {% endif %}
            {% endfor %}

            {% if form.custom_fields %}
              <hr />
              <div class="field-group my-4">
                <div class="row mb-2">
                  <h5 class="offset-sm-3">Custom Fields</h5>
                </div>
                {% render_custom_fields form %}
              </div>
            {% endif %}

            {% if form.comments %}
              <hr />
              <div class="field-group my-4">
                {% render_field form.comments label='Comments' %}
              </div>
            {% endif %}

          {% else %}
            {# Render all fields in a single group #}
            <div class="field-group my-4">
              {% block form_fields %}
                {% for name in form.fields %}
				 {% if name == "networks" %}
 <div class="float-end">
         <button type="button" class="btn btn-xs btn-link" data-bs-toggle="modal" data-bs-target="#networkshelp"><i class="mdi mdi-help-circle"></i></button>
         <button type="button" class="btn btn-xs btn-link" data-bs-toggle="modal" data-bs-target="#networkdefinitions"><i class="mdi mdi-alpha-d-circle"></i></button>
 </div>
 {% endif %}
 {% if name == "services" %}
 <div class="float-end">
         <button type="button" class="btn btn-xs btn-link" data-bs-toggle="modal" data-bs-target="#serviceshelp"><i class="mdi mdi-help-circle"></i></button>
         <button type="button" class="btn btn-xs btn-link" data-bs-toggle="modal" data-bs-target="#servicedefinitions"><i class="mdi mdi-alpha-d-circle"></i></button>
 </div>
 {% endif %}
 {% if name == "terms" %}
 <div class="float-end">
         <button type="button" class="btn btn-xs btn-link" data-bs-toggle="modal" data-bs-target="#termshelp"><i class="mdi mdi-help-circle"></i></button>
 </div>
 {% endif %}
                    {% render_field form|getfield:name %}
                {% endfor %}
			  {% endblock %}
            </div>
          {% endif %}

        {% endblock form %}

        <div class="text-end my-3">
          {% block buttons %}
            <a class="btn btn-outline-danger" href="{{ return_url }}">Cancel</a>

            {% if obj.pk %}
              <button type="submit" name="_update" class="btn btn-primary">
                Save
              </button>
            {% else %}
              <button type="submit" name="_addanother" class="btn btn-outline-primary">
                Create & Add Another
              </button>
              <button type="submit" name="_create" class="btn btn-primary">
                Create
              </button>
            {% endif %}

          {% endblock buttons %}
        </div>
      </form>
    </div>
  </div>

<div class="modal" id="networkdefinitions" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<div class="float-end">
			<button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
			</button>
		</div>
        <h5 class="modal-title">Network Definitions</h5>
      </div>
		<table class="table table-hover modal-body">
		{% for _, item in object.build_base_naming.networks.items %}
		<tr><td>{{ item.name }}</td><td>{{ item.items | join:"<br>"}}</td></tr>
		{% endfor %}
		</table>
    </div>
  </div>
</div>

<div class="modal" id="servicedefinitions" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<div class="float-end">
		<button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
		</button>
	</div>
	<h5 class="modal-title">Service Definitions</h5>
  </div>
	<table class="table table-hover modal-body">
	{% for _, item in object.build_base_naming.services.items %}
	<tr><td>{{ item.name }}</td><td>{{ item.items | join:"<br>"}}</td></tr>
	{% endfor %}
	</table>
</div>
</div>
</div>

<div class="modal" id="networkshelp" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<div class="float-end">
		<button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
		</button>
	</div>
	<h5 class="modal-title">Network Definitions Help</h5>
  </div>
  <div class="modal-body">
	<p>A Network Definiton has a label and one or more networks. Further networks can be added on the following lines.</p>
	<pre><code>EXAMPLE = 192.0.2.0/27
	  2001:db8:123::/64</code></pre>
	<p>A Network Definition can contain other network definitions</p>
	<pre><code>EXAMPLE_V4 = 192.0.2.0/27
EXAMPLE_V6 = 2001:db8:123::/64
EXAMPLE_DUAL = EXAMPLE_V4
		   EXAMPLE_V6</code></pre>
	<p>Comments are allowed with a <code>#</code></p>
	<pre><code>EXAMPLE = 2001:db8:c001:c4t5::/64 # this is a very important comment</code></pre>
	<p>Further details can be found in the capirca documentation at <a href="https://github.com/google/capirca#network-objects">Github</a></p>
  </div>
</div>
</div>
</div>
<div class="modal" id="serviceshelp" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<div class="float-end">
		<button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
		</button>
	</div>
	<h5 class="modal-title">Service Definitions Help</h5>
  </div>
  <div class="modal-body">
	<p>A Service Definition is one or more ports or a range of ports and a protocol (tcp or udp).</p>
	<pre><code>HTTP = 80/tcp
DNS = 53/udp 53/tcp</code></pre>
	<p>Service Definitions can be nested and comments are allowed with a <code>#</code>.</p>
	<pre><code>HTTP = 80/tcp
HTTPS = 443/tcp
WEBPORTS = HTTP HTTPS # the common webserver ports</code></pre>
	<p>Further details can be found in the capirca documentation at <a href="https://github.com/google/capirca#service-objects">Github</a></p>
  </div>
</div>
</div>
</div>
<div class="modal" id="termshelp" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<div class="float-end">
		<button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
		</button>
	</div>
	<h5 class="modal-title">Terms Help</h5>
  </div>
  <div class="modal-body">
	  <p>The Terms are the entries of a ACL. Each term has a name and contains keywords that specify what the term does. Each of the labels (in this case <code>DNS</code>, <code>DNSSERVERS</code>, <code>WEBPORTS</code> and <code>WEBSERVERS</code>) have to be defined first.</p>
	<pre><code>term allow_dns {
comment:: "Allow Traffic to the DNS Servers"
destination-port:: DNS
destination-address:: DNSSERVERS
}

term allow_http {
comment:: "Allow HTTP and HTTPs to the WEBSERVERS.
destination-port:: WEBPORTS
destionation-address:: WEBSERVERS
}</code></pre>
	<p>A list of the available keywords can be found at <a href="https://github.com/google/capirca#policy-generator">Github</a>
  </div>
</div>
</div>
</div>

{% endblock content-wrapper %}
